<template name="selectDropdown">
  <div class="fluid field {{required}}">
    <label>{{label}}</label>
    <div class="{{divClasses}}">
      <input type="hidden" name="{{name}}">
      <div class="default text">{{placeholder}}</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#unless this.required}}
          <div class="ui fluid compact clear button"><i class="erase icon"></i> Clear</div>
        {{/unless}}
        {{#each items}}
          {{#if itemGroup}}
            <div class="header">{{itemGroup}}</div>
            {{#each items}}
              <div class="item" {{itemAtts}} data-value="{{value}}">
                {{#if icon}}
                  <i class="{{icon}}"></i>
                {{/if}}
                {{label}}
              </div>
            {{/each}}
          {{else}}
            <div class="item" {{itemAtts}} data-value="{{value}}">
              {{#if icon}}
                <i class="{{icon}}"></i>
              {{/if}}
              {{label}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
